{%extends 'base.html'%} {%block content%} {%load static%}
<link rel="stylesheet" href="{%static 'css/main.css'%}">
<section>
    <div>
        <div class="col-md-12">
            <div class="middle-box">
                <ul class="middle-description">
                    <li>Do you</li>
                    <li>want to Speak?</li>
                </ul>
                <ul class="middle-content">
                    <li><a href="#">예약하기</a></li>
                    <li><a href="#">Read More</a></li>
                </ul>
            </div>

        </div>
    </div>
</section>
</div>
<footer class="row">
    <div>
        <div class="footer-box">
            <div class="ad1 col-md-4">광고문구</div>
            <div class="ad2 col-md-4">광고문구</div>
            <div class="ad3 col-md-4">광고문구</div>
        </div>
    </div>
</footer>
<section class="row">
    <div>
        <div class=" col-md-12">
            <div class="sub-intro">
                <div class="image-pack"><img src="#" alt="대충스터디사진"></div>
                <h1>원투스픽?<br><br><small>Lorem ipsum cula, elit quis blandit bibendum, massa lorem porta elit, eget eleifend enim enim quis purus. Aenean placerat magna ut orci fermentum rhoncus. Sed purus turpis, pretium commodo aliquam quis, vehicula vel tortor. Proin vel massa tortor. Vivamus sodales diam velit, a pellentesque lacus placerat eu. In hac habitasse platea dictumst. Suspendisse lacinia vel risus id tincidunt.</small></h1>

            </div>
            <div class="reserve-box">
                <p class="text-center"><a href="#">빠른 예약</a></p>
            </div>

        </div>
    </div>
</section>{%endblock%}