* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html,
body,
menu {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/* initialize */

.top-banner {
    border: 1px solid orange;
    background-color: orange;
    height: 3rem;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

.info {
    display: flex;
    justify-content: center;
    margin-left: 50px;
}

.info li,
.info a {
    display: flex;
    color: white;
    line-height: 3rem;
    font-size: 1.2rem;
}

.info li {
    margin: 0 10px;
}


/* header */

.back {
    height: 40rem;
    background-color: rgba(0, 0, 0, 0.1);
}

.left-menu,
.right-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-menu li {
    margin: 0 10px;
}


/* menu */

.intro {
    width: 80rem;
    margin: auto;
}


/* section */

.footer-box {
    height: 15rem;
}

.footer-box a {
    color: white;
}

.ad1,
.ad2,
.ad3 {
    font-size: 2rem;
    color: white;
    text-align: center;
}

.ad1 {
    background-color: orange;
    height: 100%;
}

.ad2 {
    background-color: rgb(255, 136, 0);
    height: 100%;
}

.ad3 {
    background-color: rgb(255, 102, 0);
    height: 100%;
}


/* footer */

.sub-intro {
    display: flex;
    width: 80rem;
    margin: auto;
}