{% extends 'study/sign/sign_base.html ' %} {% block title %}WANTOSPEAK{% endblock %} {% block content %}

    <!--로그인 박스-->
    <section class="container align-content-center">
        <div class="row justify-content-center" id="formBox_row">
            <div class="col-lg-4 col-md-7 col-sm-9 h-100 pt-5 mx-2 bg-white" id="formBox_col">
                <p class="lead text-muted" id="small_title">one, two, speak study</p>
                <h2 class="font-weight-bold">Want To Speak</h2>
                <div class="stick"></div>
                <div class="pt-5 pl-0" id="loginText">로그인</div>
                <div class="px-4 justify-content-center" id="login_input">
                    <form method="POST" action="">
                        {% csrf_token %}
                        <input class="form-control mb-2" autocomplete='off' type="text" id="input_id" name="username" placeholder="아이디" required>
                        <input class="form-control mb-2" autocomplete='off' type="password" id="input_password" name="password" placeholder="비밀번호" required> {{error}}
                        <button class="btn w-100 btn-warning" type="submit">로그인</button>
                    </form>
                </div>
                <div class="row justify-content-center">
                    <span class="mt-2 mb-5">
                        <a class="login_find" href="{% url 'find_id' %}">아이디 찾기</a>
                        <span class="bar">|</span>
                    <a class="login_find" href="{% url 'find_pw' %}">비밀번호 찾기</a>
                    </span>
                </div>
                <div class="mt-4 pb-2">
                    <span id="q_account">
                        계정이 아직 없으신가요?
                        <a class="login_find" href="{% url 'signup' %}">회원가입</a>
                    </span>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}