<table>
    <tr>
        <td>이름</td>
        <td>전화번호</td>
        <td>레벨</td>
        <td>마지막변경요일</td>
        <td>다음참여일</td>

    </tr>
    <tr>
        <td>{{student.name}}</td>
        <td>{{student.number}}</td>
        <td>{{student.level}}</td>
        <td>{{student.changed_day}}</td>
        <td>{{next_day}}</td>

    </tr>
</table>
<table>
    <tr>
        <td>고정참여일</td>
    </tr>
    {%for i in days%}
    <tr>
        <td>{{i}}</td>
    </tr>
    {%endfor%}
</table>


<a href="{%url 'main'%}">메인으로</a>