<!DOCTYPE html> {%load static%}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> {%block title%}{%endblock%}
</head>

<body>
    <div class="container-fluid wrapper">
        <header>
            <!-- 베이스로 들어갈 부분? -->
            <div class="top-banner row">
                <div class="col-md-6">
                    <ul class="info">
                        <li>
                            <div>전화이미지</div><a href="#">010-1234-5378</a></li>
                        <li>
                            <div>메일이미지</div><a href="#">wts@naver.com</a></li>
                    </ul>
                </div>
                <div class='col-md-6'>
                    <ul class="info">
                        <li><a href="{%url 'account_signup'%}">회원가입</a></li>
                        {% if user.is_authenticated%}
                        <a href="{%url 'account_logout'%}">로그아웃</a> {%else%}
                        <a href="{%url 'account_login'%}">로그인</a>{%endif%}
                    </ul>
                </div>
            </div>
        </header>
        <div class="back row">
            <!-- 메뉴와 중간 섹터 백그라운드 설정 -->
            <menu>
                <div class="main-menu ">
                    <div class="col-md-6">
                        <div class="left-menu">
                            <div class="logo"><a href="#">로고이미지</a></div>
                            <div>
                                <h1>WantToSpeak?</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <ul class="right-menu">
                            <li><a href="{%url 'main'%}">홈</a></li>
                            <li><a href="#">소개</a></li>
                            <li><a href="#">시간표</a></li>
                            <li><a href="#">내 스터디</a></li>
                        </ul>
                    </div>
                </div>
            </menu>
            {%block content%}{%endblock%}
        </div>
</body>

</html>