{% extends 'study/main/base.html' %} {% block title %}WANTOSPEAK{% endblock %} {% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'index.css' %}">

<div class="container qna">
    <h3 class="menu_title mt-5"> 공지사항</h3>
    <div class="stick  mb-4"></div>
    <div class="divline"></div>
    <div class="qna_index">
        <ul class="p-2">
            <li class="col-2" id="qna_progress">글번호</li>
            <li class="col-7" id="qna_title">제목</li>
            <li class="col-3" id="qna_date">작성일</li>
        </ul>
    </div>
    <div class="divline"></div>

    <div class="notice_list">
    </div>
    
    <div class="writing_link_div">
        {% if request.user.is_staff %}<a class="writing_link px-4 py-2" href="{% url 'notice_enroll' %}"> 글쓰기</a>{% endif %}
    </div>
    <div class="view_bottom">
        <ul class="pagination justify-content-center mt-3 mb-0">
        </ul>

        <div style="display: none;" id="num">{{num}}</div>
    </div>
</div>
</div>

<script src="{% static 'notice.js' %}"></script>
{% endblock %}