{% extends 'base.html' %} {% block title %}WANTOSPEAK{% endblock %} {% block content %}

<!-- 중간 카테고리 -->
<nav class="navbar navbar-expand-lg navbar-light shadow-sm" id="mid-nav-container">
    <div class="container-fluid">
        <ul class="navbar-nav mx-auto mb-2 mb-md-0" id="mid-nav">
            <li class="nav-item mx-3">
                <a class="nav-link active" aria-current="page" href="#registration">신청하기</a>
            </li>
            <li class="nav-item mx-3">
                <a class="nav-link" href="#schedule">시간표</a>
            </li>
            <li class="nav-item mx-3">
                <a class="nav-link" href="#rules">수업 규정</a>
            </li>
            <li class="nav-item mx-3">
                <a class="nav-link" href="#location">오시는 길</a>
            </li>
            <li class="nav-item mx-3">
                <a class="nav-link" href="#mentors">멘토 소개</a>
            </li>
        </ul>
    </div>
</nav>

<!-- 신청하기 -->
<div class="py-3 text-center container" id="registration">
    <div class="row py-3 py-md-5 gx-0">
        <div class="col-lg-6 col-md-8 mx-auto">
            <p class="my-0">함께 공부해요</p>
            <h3 class="fw-bold">신청하기</h3>
            <div class="stick"></div>
        </div>
    </div>
    <div class="row pb-lg-5 gx-0" id="registration-btns">
        <a class="col btn btn-dark me-md-3 p-5 rounded registration-btn" href="{% url 'enroll' %}">
            <span class="row registration-icon"><i class="far fa-calendar-check"></i></span>
            <span class="row mt-3 justify-content-center registration-title">등록하기</span>
        </a>
        <a class="col btn btn-dark mx-md-3 p-5 rounded registration-btn">
            <span class="row registration-icon"><i class="fas fa-search"></i></span>
            <span class="row mt-3 justify-content-center registration-title" style="color: white">조회하기</span>
        </a>
        <a class="col btn btn-dark ms-md-3 p-5 rounded registration-btn">
            <span class="row registration-icon"><i class="fas fa-exchange-alt"></i></span>
            <span class="row mt-3 justify-content-center registration-title" style="color: white">변경하기</span>
        </a>
    </div>
</div>

<!-- 시간표 -->
<div class="py-3 text-center container" id="schedule">
    <div class="row py-3 py-md-5 gx-0">
        <div class="col-lg-6 col-md-8 mx-auto">
            <p class="my-0">고정 스케줄</p>
            <h3 class="fw-bold">시간표</h3>
            <div class="stick"></div>
        </div>
    </div>
    <div class="row pb-lg-5 gx-0" style="height: 500px">
        <div class="col bg-dark rounded"></div>
    </div>
</div>

<!-- 수업 규정 -->
<div class="py-3 text-center container" id="rules">
    <div class="row py-3 py-md-5 gx-0">
        <div class="col-lg-6 col-md-8 mx-auto">
            <p class="my-0">지켜주세요</p>
            <h3 class="fw-bold">수업 규정</h3>
            <div class="stick"></div>
        </div>
    </div>
    <div class="row pb-lg-5 gx-0" style="height: 500px">
        <div class="col bg-dark rounded"></div>
    </div>
</div>

<!-- 오시는 길 -->
<div class="py-3 text-center container" id="location">
    <div class="row py-3 py-md-5 gx-0">
        <div class="col-lg-6 col-md-8 mx-auto">
            <p class="my-0">위치</p>
            <h3 class="fw-bold">오시는 길</h3>
            <div class="stick"></div>
        </div>
    </div>
    <div class="row pb-lg-5 gx-0" style="height: 500px">
        <div class="col bg-dark rounded" id="map"></div>
        <script>
            var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                mapOption = {
                    center: new kakao.maps.LatLng(37.55762415300855, 126.9242610037793), // 지도의 중심좌표
                    level: 3 // 지도의 확대 레벨
                };

            var map = new kakao.maps.Map(mapContainer, mapOption);

            var imageSrc = '/static/img/marker.png', // 마커이미지의 주소입니다
                imageSize = new kakao.maps.Size(70, 70), // 마커이미지의 크기입니다
                imageOption = {
                    offset: new kakao.maps.Point(35, 70)
                }; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.

            // 마커의 이미지정보를 가지고 있는 마커이미지를 생성합니다
            var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption),
                markerPosition = new kakao.maps.LatLng(37.557305674420626, 126.92787700756014),
                markerPosition2 = new kakao.maps.LatLng(37.556985002665726, 126.91977899936077); // 마커가 표시될 위치입니다

            // 마커를 생성합니다
            var marker = new kakao.maps.Marker({
                position: markerPosition,
                image: markerImage // 마커이미지 설정
            });
            var marker2 = new kakao.maps.Marker({
                position: markerPosition2,
                image: markerImage // 마커이미지 설정
            });

            // 마커가 지도 위에 표시되도록 설정합니다
            marker.setMap(map);
            marker2.setMap(map);

            // 커스텀 오버레이에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
            var content = '<div class="customoverlay">' +
                '  <a href="https://place.map.kakao.com/18513223" target="_blank">' +
                '    <span class="title">원투스픽 하늘이야기</span>' +
                '  </a>' +
                '</div>';
            var content2 = '<div class="customoverlay">' +
                '  <a href="https://place.map.kakao.com/1895686979" target="_blank">' +
                '    <span class="title">원투스픽 구름이야기</span>' +
                '  </a>' +
                '</div>';

            // 커스텀 오버레이가 표시될 위치입니다
            var position = new kakao.maps.LatLng(37.557305674420626, 126.92787700756014);
            var position2 = new kakao.maps.LatLng(37.556985002665726, 126.91977899936077);

            // 커스텀 오버레이를 생성합니다
            var customOverlay = new kakao.maps.CustomOverlay({
                map: map,
                position: position,
                content: content,
                yAnchor: 1
            });
            var customOverlay2 = new kakao.maps.CustomOverlay({
                map: map,
                position: position2,
                content: content2,
                yAnchor: 1
            });
        </script>
    </div>
</div>

<!-- 멘토 소개 -->
<div class="py-3 text-center container" id="mentors">
    <div class="row py-3 py-md-5 gx-0">
        <div class="col-lg-6 col-md-8 mx-auto">
            <p class="my-0">강사진</p>
            <h3 class="fw-bold">멘토 소개</h3>
            <div class="stick"></div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="/static/img/example.jpg">
                <div class="card-body">
                    <h5 class="card-title">PPark</h5>
                    <p class="card-text">과목: 영어<br>이메일: aaa@naver.com</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="/static/img/example.jpg">
                <div class="card-body">
                    <h5 class="card-title">PPark</h5>
                    <p class="card-text">과목: 영어<br>이메일: aaa@naver.com</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="/static/img/example.jpg">
                <div class="card-body">
                    <h5 class="card-title">PPark</h5>
                    <p class="card-text">과목: 영어<br>이메일: aaa@naver.com</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="/static/img/example.jpg">
                <div class="card-body">
                    <h5 class="card-title">PPark</h5>
                    <p class="card-text">과목: 영어<br>이메일: aaa@naver.com</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}