<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--부트스트랩 CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/9c93ed248c.js" crossorigin="anonymous"></script>

    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <title>WTS login</title>
</head>
<body class="bg-light">

    <header>
    <!-- 상단 카테고리 -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand fw-bold" href="{% url 'index' %}"><i class="fas fa-cat me-2"></i>원투스픽</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">홈</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'enroll' %}">신청하기</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">자주 묻는 질문</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">로그인</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!--로그인 박스-->
    <section class="container">
        <div class="row justify-content-center">
            <div class="align-middle col-lg-5 col-md-7 h-100 pt-5 bg-white" id ="login_box">
                <h2>WTS study</h2>
                <div class="stick"></div>
                <div class="pt-md-5 pl-0" id="loginText">로그인</div>
                <div class="px-4 justify-content-center" id="login_input">
                    <input class="form-control mb-2" type="text" id="input_id" placeholder="아이디" required>
                    <input class="form-control mb-2" type="password" id="input_password" placeholder="비밀번호" required>
                    <button class="btn w-100 btn-warning" type="button">로그인</button>
                </div>
                <div class="row justify-content-center">
                    <span class="mt-2 mb-5">
                        <a class="login_find" href="#">아이디 찾기</a>
                        <sapn class="bar">|</sapn>
                        <a class="login_find" href="#">비밀번호 찾기</a>
                    </span>
                </div>
                <div class="mt-4 pb-2">
                    <span id="q_account">
                        계정이 아직 없으신가요?
                        <a class="login_find" href="#">회원가입</a>
                    </span>
                </div>
            </div>
        </div>
    </section>

    <!--footer-->
    <footer class="text-muted pt-5 mt-5 bg-light" id="login_footer">
        <div class="container">
            <p class="mb-1">㈜원투스픽스터디 / 대표이사: 누구세요 / 사업자등록번호: 000-00-00000</p>
            <p class="mb-1">전화: 000-0000-0000 / 이메일: wts@naver.com</p>
        </div>
        <div class="text-center" id="login_box_container">
            <span>
            <a class="login_policy" href="#">이용약관</a>
            <span class="bar">|</span>
            <a class="login_policy" href="#">개인정보보호정책</a>
            </span></div>
    </footer>
</body>

</html>