{%extends 'base.html'%}{%block content%} {%load static%}

<section>
    <div>
        <div class="col-md-12">
            <div class="intro text-center">
                <h1><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut maximus porttitor ex vel tempor. Nulla vehicula, elit quis blandit bibendum, massa lorem porta elit, eget eleifend enim enim quis purus. Aenean placerat magna ut orci fermentum rhoncus. Sed purus turpis, pretium commodo aliquam quis, vehicula vel tortor. Proin vel massa tortor. Vivamus sodales diam velit, a pellentesque lacus placerat eu. In hac habitasse platea dictumst. Suspendisse lacinia vel risus id tincidunt.</small></h1>
            </div>
        </div>
    </div>
</section>

</div>
<footer class="row">
    <div>
        <div class="footer-box">
            <div class="ad1 col-md-4"><a href="#">원투스픽?</a></div>
            <div class="ad2 col-md-4"><a href="#">스터디 방법</a></div>
            <div class="ad3 col-md-4"><a href="#">찾아오시는 길</a></div>
        </div>
    </div>
</footer>
<section class="row">
    <div>
        <div class=" col-md-12">
            <div class="sub-intro">
                <h1>원투스픽?<br><br><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut maximus porttitor ex vel tempor. Nulla vehicula, elit quis blandit bibendum, massa lorem porta elit, eget eleifend enim enim quis purus. Aenean placerat magna ut orci fermentum rhoncus. Sed purus turpis, pretium commodo aliquam quis, vehicula vel tortor. Proin vel massa tortor. Vivamus sodales diam velit, a pellentesque lacus placerat eu. In hac habitasse platea dictumst. Suspendisse lacinia vel risus id tincidunt.</small></h1>
            </div>
        </div>
    </div>
</section>
<img src="{%static 'pic/bird.jpg'%}" alt="check"> {%endblock%}